<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name></display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>
    <init-param>
      <param-name>TemplatePath</param-name>
      <param-value>/</param-value>
    </init-param>
    <init-param>
      <param-name>NoCache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ContentType</param-name>
      <param-value>text/html; charset=UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>template_update_delay</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>default_encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>number_format</param-name>
      <param-value>0.##########</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hello_servlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello_servlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_index</servlet-name>
    <servlet-class>controladores.ControladorIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_login</servlet-name>
    <servlet-class>controladores.ControladorLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_register</servlet-name>
    <servlet-class>controladores.ControladorRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_home</servlet-name>
    <servlet-class>controladores.ControladorHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_profile</servlet-name>
    <servlet-class>controladores.ControladorProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_search_pro</servlet-name>
    <servlet-class>controladores.ControladorSearchPro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_search_pro</servlet-name>
    <url-pattern>/searchProfesional</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_search_empresa</servlet-name>
    <servlet-class>controladores.ControladorSearchEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_search_empresa</servlet-name>
    <url-pattern>/searchOferta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_candidateRegister</servlet-name>
    <servlet-class>controladores.ControladorCandidateRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_candidateRegister</servlet-name>
    <url-pattern>/candidateRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_companyRegister</servlet-name>
    <servlet-class>controladores.ControladorCompanyRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_companyRegister</servlet-name>
    <url-pattern>/companyProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_admin</servlet-name>
    <servlet-class>controladores.ControladorAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_admin_candidato</servlet-name>
    <servlet-class>controladores.ControladorAdminCandidato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_admin_candidato</servlet-name>
    <url-pattern>/adminCandidato</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_admin_empresa</servlet-name>
    <servlet-class>controladores.ControladorAdminEmpresa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_admin_empresa</servlet-name>
    <url-pattern>/adminEmpresa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>controlador_acceso</servlet-name>
    <servlet-class>controladores.ControladorAcceso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador_acceso</servlet-name>
    <url-pattern>/acceso</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>FreeMarker MVC Views</web-resource-name>
      <url-pattern>*.ftl</url-pattern>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
</web-app>